a[href]{
    color:black;
    text-decoration: none;
    font-family: "Avenir Next";
}

a[href]:hover{
    opacity: 0.5;
}

a.instagram-link {
    transition: all 0.3s ease;
    opacity: 0.5;
}

a.instagram-link:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

ul.main-links-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50px;
    top: 75px;
}

nav.exhibitions-nav ul.main-links-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 200px;
    top: 100px;
}

div.main-nav-div{
    position: sticky;
    top: 0;
    height: 150px;
}

div.main-nav-div a.current{
    border-bottom: 2px solid black;
}

.carousel {
    width: 100%;
    max-width: 30em;
    margin: 0 auto 3em auto; 
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.carousel-exhibitions{
    width: 100%;
    max-width: 50em;
    margin: 0 5em 5em auto; 
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}


.floating-text {
    position: absolute;
    left: 80px;
    top: 350px;
    font-family: "Avenir Next";
    max-width: 400px;
    font-size: 13px;
}

.norm-text {
    position: absolute;
    left: 200px;
    top: 225px;
    font-family: "Avenir Next";
    max-width: 400px;
}


.bottom-text {
    width: 100%;
    max-width: 50em;
    margin-right: 18em;
    margin-left: auto;
    margin-bottom: 5em;
    font-family: "Avenir Next";
    font-size: 13px;
}

.pdf-container-right {
    position: absolute;
    right: 200px;
    top: 150px;
    width: 50%;
    height: 100vh;
    padding: 2em;
    
}

.pdf-container-right embed {
    border: none;
}